In [1]:
import pandas as pd

In [2]:
X_full =pd.read_csv("Train.csv",index_col='date_time',parse_dates=True)
X_test_full =pd.read_csv("Test.csv",index_col='date_time',parse_dates=True)

In [3]:
print(X_full.shape)
print(X_test_full.shape)

(33750, 14)
(14454, 13)

In [4]:
print(X_full.shape)
X_full.head()

X_test=X_test_full.drop(["air_pollution_index","visibility_in_miles","dew_point","rain_p_h","snow_p_h","weather_type","weather_description"],axis=1)

(33750, 14)

In [5]:
print(X_test_full.shape)
X_test_full.head()

(14454, 13)

,is_holiday,air_pollution_index,humidity,wind_speed,wind_direction,visibility_in_miles,dew_point,temperature,rain_p_h,snow_p_h,clouds_all,weather_type,weather_description
date_time,,,,,,,,,,,,,
2017-05-18 00:00:00,None,73,63,1,27,4,4,285.15,0.0,0,90,Rain,moderate rain
2017-05-18 00:00:00,None,251,63,1,27,4,4,285.15,0.0,0,90,Mist,mist
2017-05-18 00:00:00,None,75,56,1,0,1,1,285.15,0.0,0,90,Drizzle,light intensity drizzle
2017-05-18 01:00:00,None,98,56,1,351,2,2,284.79,0.0,0,90,Rain,heavy intensity rain
2017-05-18 01:00:00,None,283,56,1,351,1,1,284.79,0.0,0,90,Mist,mist

In [6]:
y=X_full.traffic_volume
X_full.drop(["traffic_volume"],axis=1,inplace=True)

In [7]:
X_full.shape

(33750, 13)

In [8]:
X_test.shape

(14454, 6)

In [9]:

#X=X_full.select_dtypes(exclude=['object'])
#X=X_full[["temperature"]]#,"clouds_all"]]#,"snow_p_h","rain_p_h"]]
#X_test=X_test_full.select_dtypes(exclude=['object'])
#X_test=X_test_full[["temperature"]]#,"clouds_all"]]#,"snow_p_h","rain_p_h"]]
#print(X.shape)
#print(X_test.shape)

In [10]:
X=X_full.drop(["air_pollution_index","visibility_in_miles","snow_p_h","dew_point","rain_p_h","weather_type","weather_description"],axis=1)
X.head()

,is_holiday,humidity,wind_speed,wind_direction,temperature,clouds_all
date_time,,,,,,
02-10-2012 9.00,None,89,2,329,288.28,40
02-10-2012 10.00,None,67,3,330,289.36,75
02-10-2012 11.00,None,66,3,329,289.58,90
02-10-2012 12.00,None,66,3,329,290.13,90
02-10-2012 13.00,None,65,3,329,291.14,75

In [11]:
X.shape

(33750, 6)

In [12]:
from sklearn.model_selection import train_test_split as TTS
X_train,X_valid,y_train,y_valid=TTS(X,y,train_size=0.8,test_size=0.2,random_state=7)

In [13]:
X_train.head()

,is_holiday,humidity,wind_speed,wind_direction,temperature,clouds_all
date_time,,,,,,
27-03-2014 6.00,None,86,2,270,276.700,90
08-07-2015 3.00,None,64,2,141,285.480,1
19-07-2016 2.00,None,93,2,320,297.888,0
21-11-2013 6.00,None,61,7,320,276.110,90
07-05-2016 14.00,None,75,1,259,292.970,75

In [14]:
X_train.shape

(27000, 6)

In [15]:
X_valid.shape

(6750, 6)

In [16]:
X_test.shape

(14454, 6)

## One-hot encoding

In [17]:
object_cols=[col for col in X_train.columns if X_train[col].dtype=='object']
oh_cols=[col for col in object_cols if X_train[col].nunique()<15]
label_cols=set(object_cols)-set(oh_cols)
oh_cols

['is_holiday']

In [18]:
ob_nu=list(map(lambda col:X_train[col].nunique(),object_cols))
d=dict(zip(object_cols,ob_nu))
sorted(d.items(),key=lambda x:x[1])

[('is_holiday', 12)]

In [19]:
#from sklearn.preprocessing import LabelEncoder

#labenc=LabelEncoder()


#X_train['weather_description']=labenc.fit_transform(X_train['weather_description'])
#X_valid['weather_description']=labenc.transform(X_valid.loc['weather_description'])

In [20]:
print(X_train.shape)
print(X_valid.shape)
print(X_test.shape)

(27000, 6)
(6750, 6)
(14454, 6)

In [21]:
X_train.head()

,is_holiday,humidity,wind_speed,wind_direction,temperature,clouds_all
date_time,,,,,,
27-03-2014 6.00,None,86,2,270,276.700,90
08-07-2015 3.00,None,64,2,141,285.480,1
19-07-2016 2.00,None,93,2,320,297.888,0
21-11-2013 6.00,None,61,7,320,276.110,90
07-05-2016 14.00,None,75,1,259,292.970,75

In [22]:
from sklearn.preprocessing import OneHotEncoder

In [23]:
ohencoder=OneHotEncoder(handle_unknown='ignore',sparse=False)
OH_train_cols =pd.DataFrame(ohencoder.fit_transform(X_train[oh_cols]))
OH_valid_cols =pd.DataFrame(ohencoder.transform(X_valid[oh_cols]))
OH_test_cols=pd.DataFrame(ohencoder.transform(X_test[oh_cols]))

OH_train_cols.index=X_train.index
OH_valid_cols.index=X_valid.index
OH_test_cols.index=X_test.index

temp_train=X_train.drop(object_cols,axis=1)
temp_valid=X_valid.drop(object_cols,axis=1)
temp_test=X_test.drop(object_cols,axis=1)

X_train=pd.concat([temp_train,OH_train_cols],axis=1)
X_valid=pd.concat([temp_valid,OH_valid_cols],axis=1)
X_test=pd.concat([temp_test,OH_test_cols],axis=1)

In [24]:
X_train.shape

(27000, 17)

In [25]:
X_valid.shape

(6750, 17)

In [26]:
X_test.shape

(14454, 17)

In [27]:
print(X_train.shape)
missing_val_count_by_column = (X_train.isnull().sum())

print(missing_val_count_by_column)

(27000, 17)
humidity          0
wind_speed        0
wind_direction    0
temperature       0
clouds_all        0
0                 0
1                 0
2                 0
3                 0
4                 0
5                 0
6                 0
7                 0
8                 0
9                 0
10                0
11                0
dtype: int64

In [28]:
from sklearn.ensemble import RandomForestRegressor as RFR
from sklearn.metrics import mean_absolute_error as MAE

def rand_forest(X_train,X_valid,y_train,y_valid,n):
    model=RFR(n_estimators=n,random_state=1)
    model.fit(X_train,y_train)
    preds=model.predict(X_valid)
    return (MAE(y_valid,preds))

In [29]:
from sklearn import linear_model
def linear_reg(X_train,X_valid,y_train,y_valid):
    regr=linear_model.LinearRegression()
    regr.fit(X_train,y_train)
    lpreds=regr.predict(X_valid)
    return MAE(y_valid,lpreds)

In [30]:
X=pd.concat([X_train,X_valid],axis=0)
X.head()

,humidity,wind_speed,wind_direction,temperature,clouds_all,0,1,2,3,4,5,6,7,8,9,10,11
date_time,,,,,,,,,,,,,,,,,
27-03-2014 6.00,86,2,270,276.700,90,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
08-07-2015 3.00,64,2,141,285.480,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
19-07-2016 2.00,93,2,320,297.888,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
21-11-2013 6.00,61,7,320,276.110,90,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
07-05-2016 14.00,75,1,259,292.970,75,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [31]:
X_test.shape

(14454, 17)

In [32]:
X.shape

(33750, 17)

In [33]:
X_test.shape

(14454, 17)

In [34]:
#trials=[600,700,800]
#for n in trials:
#   print(n,":\t",rand_forest(X_train,X_valid,y_train,y_valid,n))

In [48]:
from xgboost import XGBRegressor
my_model = XGBRegressor(n_estimators=1000, learning_rate=0.09, n_jobs=4)
my_model.fit(X_train, y_train, 
             early_stopping_rounds=5, 
             eval_set=[(X_valid, y_valid)], 
             verbose=False)
xpreds=my_model.predict(X_valid)
print(MAE(y_valid,xpreds))

C:\Users\Saranga\Anaconda3\lib\site-packages\xgboost\core.py:587: FutureWarning: Series.base is deprecated and will be removed in a future version
  if getattr(data, 'base', None) is not None and \

[21:08:54] WARNING: C:/Jenkins/workspace/xgboost-win64_release_0.90/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
1645.3537342448765

In [36]:
temp_model=RFR(n_estimators=300,random_state=1)
temp_model.fit(X_train,y_train)
preds_test=temp_model.predict(X_valid)
print(MAE(y_valid,preds_test))

1385.5671915538808

In [37]:
"""final_model=RFR(n_estimators=300,random_state=1)
final_model.fit(X,y)
preds_test=final_model.predict(X_test)
output=pd.DataFrame({'date_time':X_test.index,'traffic_volume':preds_test})
output.to_csv("submission7.csv",index=False)
output
"""

'final_model=RFR(n_estimators=300,random_state=1)\nfinal_model.fit(X,y)\npreds_test=final_model.predict(X_test)\noutput=pd.DataFrame({\'date_time\':X_test.index,\'traffic_volume\':preds_test})\noutput.to_csv("submission7.csv",index=False)\noutput\n'

In [50]:
final_model=XGBRegressor(n_estimators=1108, learning_rate=0.09,n_jobs=4)
final_model.fit(X,y)
preds_test=final_model.predict(X_test)
preds_test

[21:11:29] WARNING: C:/Jenkins/workspace/xgboost-win64_release_0.90/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

array([3139.5535, 3139.5535, 3182.1316, ..., 3406.1787, 2971.7732,
       3117.283 ], dtype=float32)

In [51]:
output=pd.DataFrame({'date_time':X_test.index,'traffic_volume':preds_test})
output.to_csv("submissionlast.csv",index=False)
output

                date_time  traffic_volume
0     2017-05-18 00:00:00     3139.553467
1     2017-05-18 00:00:00     3139.553467
2     2017-05-18 00:00:00     3182.131592
3     2017-05-18 01:00:00     3150.541260
4     2017-05-18 01:00:00     3150.541260
5     2017-05-18 02:00:00     3259.235352
6     2017-05-18 02:00:00     3259.235352
7     2017-05-18 02:00:00     3259.235352
8     2017-05-18 03:00:00     3153.204590
9     2017-05-18 03:00:00     3153.204590
10    2017-05-18 03:00:00     3153.204590
11    2017-05-18 04:00:00     3258.577881
12    2017-05-18 04:00:00     3258.577881
13    2017-05-18 04:00:00     3258.577881
14    2017-05-18 05:00:00     3362.953369
15    2017-05-18 05:00:00     3362.953369
16    2017-05-18 05:00:00     3362.953369
17    2017-05-18 06:00:00     3447.218018
18    2017-05-18 06:00:00     3447.218018
19    2017-05-18 07:00:00     3752.777832
20    2017-05-18 07:00:00     3752.777832
21    2017-05-18 08:00:00     3752.777832
22    2017-05-18 08:00:00     3480.187012
23    2017-05-18 08:00:00     3569.384766
24    2017-05-18 09:00:00     3577.673096
25    2017-05-18 09:00:00     3577.673096
26    2017-05-18 09:00:00     3370.079590
27    2017-05-18 10:00:00     3480.858154
28    2017-05-18 10:00:00     3402.373291
29    2017-05-18 11:00:00     3641.196533
...                   ...             ...
14424 2018-09-29 20:00:00     3300.113770
14425 2018-09-29 21:00:00     3298.869873
14426 2018-09-29 22:00:00     3143.689697
14427 2018-09-29 23:00:00     3310.558350
14428 2018-09-30 00:00:00     3444.407715
14429 2018-09-30 01:00:00     3286.730957
14430 2018-09-30 02:00:00     3338.514893
14431 2018-09-30 03:00:00     3341.040039
14432 2018-09-30 04:00:00     3229.648193
14433 2018-09-30 05:00:00     2997.597900
14434 2018-09-30 06:00:00     3363.402832
14435 2018-09-30 07:00:00     3725.198730
14436 2018-09-30 08:00:00     3363.597656
14437 2018-09-30 09:00:00     3798.972900
14438 2018-09-30 10:00:00     4328.463867
14439 2018-09-30 11:00:00     3719.167725
14440 2018-09-30 12:00:00     3302.078613
14441 2018-09-30 13:00:00     4169.354980
14442 2018-09-30 14:00:00     2970.937500
14443 2018-09-30 14:00:00     3443.567383
14444 2018-09-30 15:00:00     2375.675781
14445 2018-09-30 15:00:00     3269.704834
14446 2018-09-30 16:00:00     3109.673828
14447 2018-09-30 17:00:00     3002.805176
14448 2018-09-30 18:00:00     3028.708252
14449 2018-09-30 19:00:00     4165.042969
14450 2018-09-30 20:00:00     3181.544678
14451 2018-09-30 21:00:00     3406.178711
14452 2018-09-30 22:00:00     2971.773193
14453 2018-09-30 23:00:00     3117.282959

[14454 rows x 2 columns]