In [128]:
import pandas as pd

In [129]:
X_full =pd.read_csv("Train.csv",index_col='date_time',parse_dates=True)
X_test_full =pd.read_csv("Test.csv",index_col='date_time',parse_dates=True)

In [130]:
print(X_full.shape)
print(X_test_full.shape)

(33750, 14)
(14454, 13)

In [131]:
print(X_full.shape)
X_full.head()

X_test=X_test_full.drop(["is_holiday","air_pollution_index","visibility_in_miles","dew_point","rain_p_h","snow_p_h"],axis=1)

(33750, 14)

In [132]:
print(X_test_full.shape)
X_test_full.head()

(14454, 13)

,is_holiday,air_pollution_index,humidity,wind_speed,wind_direction,visibility_in_miles,dew_point,temperature,rain_p_h,snow_p_h,clouds_all,weather_type,weather_description
date_time,,,,,,,,,,,,,
2017-05-18 00:00:00,None,73,63,1,27,4,4,285.15,0.0,0,90,Rain,moderate rain
2017-05-18 00:00:00,None,251,63,1,27,4,4,285.15,0.0,0,90,Mist,mist
2017-05-18 00:00:00,None,75,56,1,0,1,1,285.15,0.0,0,90,Drizzle,light intensity drizzle
2017-05-18 01:00:00,None,98,56,1,351,2,2,284.79,0.0,0,90,Rain,heavy intensity rain
2017-05-18 01:00:00,None,283,56,1,351,1,1,284.79,0.0,0,90,Mist,mist

In [133]:
y=X_full.traffic_volume
X_full.drop(["traffic_volume"],axis=1,inplace=True)

In [134]:
X_full.shape

(33750, 13)

In [135]:
X_test.shape

(14454, 7)

In [136]:

#X=X_full.select_dtypes(exclude=['object'])
#X=X_full[["temperature"]]#,"clouds_all"]]#,"snow_p_h","rain_p_h"]]
#X_test=X_test_full.select_dtypes(exclude=['object'])
#X_test=X_test_full[["temperature"]]#,"clouds_all"]]#,"snow_p_h","rain_p_h"]]
#print(X.shape)
#print(X_test.shape)

In [137]:
X=X_full.drop(["is_holiday","air_pollution_index","visibility_in_miles","snow_p_h","dew_point","rain_p_h"],axis=1)
X.head()

,humidity,wind_speed,wind_direction,temperature,clouds_all,weather_type,weather_description
date_time,,,,,,,
02-10-2012 9.00,89,2,329,288.28,40,Clouds,scattered clouds
02-10-2012 10.00,67,3,330,289.36,75,Clouds,broken clouds
02-10-2012 11.00,66,3,329,289.58,90,Clouds,overcast clouds
02-10-2012 12.00,66,3,329,290.13,90,Clouds,overcast clouds
02-10-2012 13.00,65,3,329,291.14,75,Clouds,broken clouds

In [138]:
X.shape

(33750, 7)

In [139]:
from sklearn.model_selection import train_test_split as TTS
X_train,X_valid,y_train,y_valid=TTS(X,y,train_size=0.8,test_size=0.2,random_state=7)

In [140]:
X_train.head()

,humidity,wind_speed,wind_direction,temperature,clouds_all,weather_type,weather_description
date_time,,,,,,,
27-03-2014 6.00,86,2,270,276.700,90,Rain,light rain
08-07-2015 3.00,64,2,141,285.480,1,Clear,sky is clear
19-07-2016 2.00,93,2,320,297.888,0,Clear,Sky is Clear
21-11-2013 6.00,61,7,320,276.110,90,Mist,mist
07-05-2016 14.00,75,1,259,292.970,75,Clouds,broken clouds

In [141]:
X_train.shape

(27000, 7)

In [142]:
X_valid.shape

(6750, 7)

In [143]:
X_test.shape

(14454, 7)

## One-hot encoding

In [144]:
#from sklearn.preprocessing import LabelEncoder

#labenc=LabelEncoder()


#X_train['weather_description']=labenc.fit_transform(X_train['weather_description'])
#X_valid['weather_description']=labenc.transform(X_valid.loc['weather_description'])

In [145]:
print(X_train.shape)
print(X_valid.shape)
print(X_test.shape)

(27000, 7)
(6750, 7)
(14454, 7)

In [146]:
X_train.head()

,humidity,wind_speed,wind_direction,temperature,clouds_all,weather_type,weather_description
date_time,,,,,,,
27-03-2014 6.00,86,2,270,276.700,90,Rain,light rain
08-07-2015 3.00,64,2,141,285.480,1,Clear,sky is clear
19-07-2016 2.00,93,2,320,297.888,0,Clear,Sky is Clear
21-11-2013 6.00,61,7,320,276.110,90,Mist,mist
07-05-2016 14.00,75,1,259,292.970,75,Clouds,broken clouds

In [147]:
X_train.shape

(27000, 7)

In [164]:
ohencoder=OneHotEncoder(handle_unknown='ignore',sparse=False)
OH_train_cols =pd.DataFrame(ohencoder.fit_transform(X_train[oh_cols]))
OH_valid_cols =pd.DataFrame(ohencoder.transform(X_valid[oh_cols]))
OH_test_cols=pd.DataFrame(ohencoder.transform(X_test[oh_cols]))

OH_train_cols.index=X_train.index
OH_valid_cols.index=X_valid.index
OH_test_cols.index=X_test.index

temp_train=X_train.drop(object_cols,axis=1)
temp_valid=X_valid.drop(object_cols,axis=1)
temp_test=X_test.drop(object_cols,axis=1)

X_train=pd.concat([temp_train,OH_train_cols],axis=1)
X_valid=pd.concat([temp_valid,OH_valid_cols],axis=1)
X_test=pd.concat([temp_test,OH_test_cols],axis=1)

KeyError: "None of [Index(['is_holiday'], dtype='object')] are in the [columns]"

In [148]:
X_valid.shape

(6750, 7)

In [149]:
X_test.shape

(14454, 7)

In [150]:
print(X_train.shape)
missing_val_count_by_column = (X_train.isnull().sum())

print(missing_val_count_by_column)

(27000, 7)
humidity               0
wind_speed             0
wind_direction         0
temperature            0
clouds_all             0
weather_type           0
weather_description    0
dtype: int64

In [151]:
from sklearn.ensemble import RandomForestRegressor as RFR
from sklearn.metrics import mean_absolute_error as MAE

def rand_forest(X_train,X_valid,y_train,y_valid,n):
    model=RFR(n_estimators=n,random_state=1)
    model.fit(X_train,y_train)
    preds=model.predict(X_valid)
    return (MAE(y_valid,preds))

In [152]:
from sklearn import linear_model
def linear_reg(X_train,X_valid,y_train,y_valid):
    regr=linear_model.LinearRegression()
    regr.fit(X_train,y_train)
    lpreds=regr.predict(X_valid)
    return MAE(y_valid,lpreds)

In [153]:
X=pd.concat([X_train,X_valid],axis=0)
X.head()

,humidity,wind_speed,wind_direction,temperature,clouds_all,weather_type,weather_description
date_time,,,,,,,
27-03-2014 6.00,86,2,270,276.700,90,Rain,light rain
08-07-2015 3.00,64,2,141,285.480,1,Clear,sky is clear
19-07-2016 2.00,93,2,320,297.888,0,Clear,Sky is Clear
21-11-2013 6.00,61,7,320,276.110,90,Mist,mist
07-05-2016 14.00,75,1,259,292.970,75,Clouds,broken clouds

In [154]:
X_test.shape

(14454, 7)

In [155]:
X.shape

(33750, 7)

In [156]:
X_test.shape

(14454, 7)

In [157]:
#trials=[600,700,800]
#for n in trials:
#   print(n,":\t",rand_forest(X_train,X_valid,y_train,y_valid,n))

In [161]:
from xgboost import XGBRegressor
my_model = XGBRegressor(n_estimators=1000, learning_rate=0.05, n_jobs=4)
my_model.fit(X_train, y_train, 
             early_stopping_rounds=5, 
             eval_set=[(X_valid, y_valid)])
xpreds=my_model.predict(X_valid)
print(MAE(y_valid,xpreds))

ValueError: DataFrame.dtypes for data must be int, float or bool.
                Did not expect the data types in fields weather_type, weather_description

In [162]:
temp_model=RFR(n_estimators=300,random_state=1)
temp_model.fit(X_train,y_train)
preds_test=temp_model.predict(X_valid)
print(MAE(y_valid,preds_test))

ValueError: could not convert string to float: 'Rain'

In [ ]:
final_model=RFR(n_estimators=300,random_state=1)
final_model.fit(X,y)
preds_test=final_model.predict(X_test)
output=pd.DataFrame({'date_time':X_test.index,'traffic_volume':preds_test})
output.to_csv("submission8.csv",index=False)
output